<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/deleted-vods" (click)="onSidenavClose()">
        <span class="nav-caption">Deleted VODs</span>
    </a>
    <a mat-list-item href="https://drive.twitcharchives.com" (click)="onSidenavClose()">
        <span class="nav-caption">Downloads</span>
    </a>
    <a mat-list-item routerLink="/about-us" (click)="onSidenavClose()">
        <span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <span class="nav-caption">Contact Me</span>
    </a>
</mat-nav-list>