<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/downloads" (click)="onSidenavClose()">
        <span class="nav-caption">Downloads</span>
    </a>
    <a mat-list-item routerLink="/about-us" (click)="onSidenavClose()">
        <span class="nav-caption">About Us</span>
    </a>
    <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <span class="nav-caption">Contact Me</span>
    </a>
    <a mat-list-item href="https://www.buymeacoffee.com/lay295" (click)="onSidenavClose()">
        <span class="nav-caption">Donate</span>
    </a>
</mat-nav-list>