<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span id="logo">TwitchArchives <mat-icon style="vertical-align:middle; margin-bottom: 5px;">live_tv</mat-icon></span>
    <div fxFlex fxLayout fxHide.xs>
        <a mat-button routerLink="/">Home</a>
        <a mat-button href="https://drive.twitcharchives.com">Downloads</a>
        <a mat-button routerLink="/about-us">About Us</a>
        <a mat-button routerLink="/contact">Contact Me</a>
        <a mat-button href="https://www.buymeacoffee.com/lay295">Donate</a>
    </div>
    
</mat-toolbar>