<mat-card class="form-card">
    <h1 style="text-align: center;">About Us</h1>
    <div class="container">
        <p>This is a side project I made for fun to archive my favorite Twitch streamers broadcasts. I plan to expand it
            to archive popular streamers and possibly expand it into a service where others can archive their own
            favorite streamers.&nbsp;</p>
        <p>This website is a work in progress, and I hope to expand the functionality and the amount of streamers I
            archive. The chat replays are rendered using a version of my program on <a
                href="https://github.com/lay295/TwitchDownloader" target="_blank">GitHub</a>.</p>
        <p>If you are the owner of one of the Twitch channels I am archiving and wish for a video to be removed, or your
            channel to stop being archived entirely I'm more than happy to do so. Please email <b>admin@twitcharchives.com</b>
            or DM <b>iLoveKeepo69</b> on Twitch.</p>
        <p>To run this whole thing I use an Unlimited GSuite account that actually costs me $12/m, and not accounting for power and
            computation costs for the website I don't make any money off of it. If this website has helped you make a YouTube video,
            consider buying me a coffee ❤️.
        </p>
        
        <a href="https://www.buymeacoffee.com/lay295" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
        <img style="margin-left: 10px;" src="https://cdn.betterttv.net/emote/5803757f3d506fea7ee35267/2x">
    </div>
</mat-card>