.form-card {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

table.dataTable tbody tr {
    background-color: #2b2b2b; 
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white !important;
}