<mat-card class="form-card">
    <h1 style="text-align: center;">Deleted VODs</h1>
    <p>When a streamer is banned or their VODs deleted, Twitch actually keeps the files on their server. This list is automatically updated when it detects a VOD from one of the top 10k streamers on Twitch gets removed, either by a channel ban or manual
        deletion. This list only looks for deleted VODs up to 7 days old. Some browsers can play playlist urls natively, if not you can copy/paste the URL into VLC to watch. This list is updated about every hour. The playlist URL is for the unmuted version, and will not work
        correctly if the VOD has had segments muted. In that case you can use the muted url my website generates.</p>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>VOD ID</th>
                <th>Created At</th>
                <th>Channel</th>
                <th>Title</th>
                <th>Playlist URL</th>
                <th>Muted URL</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</mat-card>